ENV=local
SERVICE_NAME=gateway-svc

SERVER_ADDR=
SERVER_READ_TIMEOUT=4s
SERVER_WRITE_TIMEOUT=8s
SERVER_IDLE_TIMEOUT=60s
GRACEFUL_TIMEOUT=10s

JWT_SECRET=

USER_SERVICE_ADDR=
USER_SERVICE_TIMEOUT=5s
USER_SERVICE_RETRY_COUNT=3

PLACE_SERVICE_ADDR=
PLACE_SERVICE_TIMEOUT=5s
PLACE_SERVICE_RETRY_COUNT=3
